<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>비밀글입니다</title>
<link rel="stylesheet" href="../../styles/secretPage.css">


</head>
<body>
<form action="checkSecret" id="secretPassword" method="post">
	
	<input type="hidden" name="csNo" th:value="${csNo}"/>
	<div class="secretPage">
	 
	  <h3>
	    이 글은 비밀글입니다. 비밀번호를 입력해주세요<br>
	    관리자는 확인버튼만 누르면 됩니다.
	  </h3>
	
	  <div class="inputPassword">
	    <label for="secret">비밀번호</label>
	    <input type="password" name="csPassword"placeholder="텍스트입력" maxlength="4" autofocus />
	    
	  </div>
	
	  <div class="secretbutton">
	    <button type="button" class="btn list" onclick="closeWindow()">목록</button>
	    <button type="submit" class="btn okay">확인</button>
	  </div>
	
	
	 
	</div>
</form>

</body>
<script th:inline="javascript">
window.onload = () => {
    
    const closeWindow = () => {
      window.close();
    };

    document.querySelector(".btn.list").addEventListener("click", closeWindow);
    
    const errorMsg=/*[[${errorMsg}]]*/ null;
    if(errorMsg){
    	alert(errorMsg)
    }
  };
</script>
</html>