<div class="mypage-block">
<div class="setting-container">
    <div class="setting-item">
      <span>마켓팅 동의</span>
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
    </div>

    <div class="setting-item">
      <span>Q&A 알림 동의</span>
      <label class="switch">
        <input type="checkbox" checked>
        <span class="slider"></span>
      </label>
    </div>

    <div class="setting-item">
      <span>이메일 알림</span>
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
    </div>

    <div class="setting-item">
      <span>SMS 수신 동의</span>
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
    </div>

    <div class="setting-item">
      <span>자동로그인 유지</span>
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
    </div>

    <div class="setting-item">
      <span>결제수단 등록</span>
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>