<div class="mypage-block">
<div>
<div class="gallery" id="gallery">
  <img src="https://i.pinimg.com/736x/8a/e7/5a/8ae75a908526c00f836107b594c15d1a.jpg" class="thumbnail">
  <img src="https://i.pinimg.com/736x/3a/4e/e5/3a4ee5f0ef13a0c99fa0e4d255d4bad3.jpg" class="thumbnail">
  <img src="https://i.pinimg.com/736x/1f/72/e0/1f72e05e069b8e0e9759ae6f7206d4e7.jpg" class="thumbnail">
  <img src="https://i.pinimg.com/736x/8e/d3/86/8ed38638dc97d7585976fb2f84cc8ce8.jpg" class="thumbnail">
  <img src="https://i.pinimg.com/736x/bd/9b/43/bd9b43e174d2e9d4e886b7888a3ba3d5.jpg" class="thumbnail">
  <img src="https://i.pinimg.com/736x/fd/61/3e/fd613e92eac343b449e2f41a2effd122.jpg" class="thumbnail">
</div>

<div class="lightbox" id="lightbox">
  <span class="close" onclick="closeLightbox()">×</span>
  <img id="lightbox-img" src="">
  <div class="controls">
    <button onclick="prevImage()">← 이전</button>
    <button onclick="nextImage()">다음 →</button>
  </div>
  <div class="memo">
    <input type="file" id="upload" onchange="uploadImage(event)">
    <input type="text" placeholder="Add a memo...">
  </div>
</div>
</div>
</div>