@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Top Bar
	3.2 Logo
	3.3 Main Nav
	3.4 Menu
4. Home
	4.1 Home Slider
	4.2 Home Slider Nav
	4.3 Home Slider Dots
5. Search
6. Section Title
7. Rating
8. Search
	8.1 Search Extras
	8.2 Search More Options
9. Offers
	9.1 Sorting
	9.2 Offers Grid
10. Footer
	10.1 Footer - About
	10.2 Footer - Blog
	10.3 Footer - Tags
	10.4 Footer - Contact Info
11. Copyright


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@font-face
{
	font-family: 'Beyond';
	src: url('../fonts/beyond_the_mountains.otf')  format('truetype'),
		 url('../fonts/beyond_the_mountains.ttf')  format('opentype');
}

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
	color: #929191;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}



/*********************************
4. Home
*********************************/
* {
	box-sizing: border-box;
}

html, body {
	margin: 0 ;
	padding: 0 !important;
	height: 100%;
}

.supercontainer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	
}

hr {
	width: 100%;
	border: none;
	border-top: 1px solid #ccc;
	margin: 20px 0;
}

.intro {
	width: 100%;
	min-height: 300px;
	background: #fefcf5;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0;
}

.intro_content {
	text-align: center;
}
.csquestion p {
  font-size: 22px; 
  line-height: 1.6; 
}
.csquestion_image p{
	font-size: 22px; 
  	line-height: 1.6; 
}
.home {
	width: 100%;
	flex: 1;
	background: transparent;
	padding: 0 40px;
	margin-top:20px;
}
.intro_reply{
	background: #fefcf5;
	margin-bottom:20px;
	padding:20px;
}
.intro_reply p{
	font-size:22px;
}

