@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Top Bar
	3.2 Logo
	3.3 Main Nav
	3.4 Menu
4. Home
	4.1 Home Slider
	4.2 Home Slider Nav
	4.3 Home Slider Dots
5. Search
6. Section Title
7. Rating
8. Stats
9. Add
10. Milestones
11. Footer
	11.1 Footer - About
	11.2 Footer - Blog
	11.3 Footer - Tags
	11.4 Footer - Contact Info
12. Copyright


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@font-face
{
	font-family: 'Beyond';
	src: url('../fonts/beyond_the_mountains.otf')  format('truetype'),
		 url('../fonts/beyond_the_mountains.ttf')  format('opentype');
}

/*********************************
2. Body and some general stuff
*********************************/

body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
	color: #929191;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}

.button
{
	display: inline-block;
	height: 53px;
	border-radius: 27px;
	overflow: hidden;
	z-index: 1;
}
.button_bcg
{
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 100%;
	background: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
	z-index: -1;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.button:hover .button_bcg
{
	left: -100%;
}
.button a
{
	display: block;
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 53px;
	padding-left: 46px;
	padding-right: 46px;
	white-space: nowrap;
	z-index: 2;
}
.button span
{
	display: inline-block;
	vertical-align: middle;
	width: 5.75px;
	height: 5.63px;
	background: #FFFFFF;
	border-radius: 50%;
	margin-right: 2px;
}
.button span:first-child
{
	margin-left: 10px;
}
.button span:nth-child(2)
{
	opacity: 0.6;
}
.button span:last-child
{
	opacity: 0.4;
	margin-right: 0px;
}

/*********************************
3. Header
*********************************/

.header
{
	position: static;
	width: 100%;
	background:#D8F07D;
	z-index: 12;
}
.header.scrolled
{
	background: rgba(54, 19, 84, 1);
}



/*********************************
4. Home
*********************************/
.maintitle {
  display: flex;
  justify-content: center;
  font-size: 75px;
  margin-bottom: 10px;
  margin-top: 0;
  padding-top: 30px;
}

.maintitle h1 {
  margin: 0;
  font-size: 80px;
}

.hellouser {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 15px;
}

.home_content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.search-area {
  margin: 4px 0 !important;
  padding: 0 40px;
  background-color: transparent !important;
  box-sizing: border-box;
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  background-color: transparent !important;
}

.search-box {
  display: flex;
  align-items:center;
  margin: 0 0 0 40px !important;
  background-color: transparent !important;
}

.search-box input {
  flex: 1;
  padding: 8px 40px 10px 10px;
  font-size: 14px;
  height:40px;
}

.search-box button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  background-color: #f0f0f0;
  cursor: pointer;
  height:40px;
  right:10px;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  margin: 6px 0 !important;
}

.intro {
  max-width: 1200px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  min-height: 300px;
  background: #fefcf5;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  margin-top: 0;
}

.intro_content {
  text-align: center;
  width: 100%;
  margin-top: 0;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  font-weight: bold;
  font-size: 15px;
  color: #708090;
}

.intro_content table tbody tr:hover td {
  background-color: #f6f6f6;
  cursor: pointer;
}

.listpage {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
}

.page {
  margin: 0 5px;
  cursor: pointer;
  font-size: 19px;
}

.home {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.write-button button {
  border: none;
  font-size: 17px;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #f8ecae;
  transition: background-color 0.3s;
  margin-right: 20px;
}

.write-button button:hover {
  background-color: #f7db4e;
}


.pagination .list .page {
  color: #fa9e1c;
  border: 1px solid #fa9e1c;
  margin: 0 5px;
  border-radius: 20px;
  padding: 5px 12px;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
}

.pagination .list .page:hover {
  background-color: #fa9e1c;
  color: white;
}

.pagination .list.active .page {
  background-color: #fa9e1c;
  color: white;
  border-color: #fa9e1c;
}



/*********************************
11. Footer
*********************************/

.footer
{
	width: 100%;
	padding-top: 113px;
	padding-bottom: 104px;
	background: #31124b;
}
.footer_title
{
	font-size: 15px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
}

/*********************************
11.1 Footer - About
*********************************/

.footer_about
{
	padding-top: 67px;
}
.footer_logo
{
	position: absolute;
	left: 0;
	top: -24px;
}
.footer_about_text
{
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
}
.footer_social_item
{
	display: inline-block;
	width: 31px;
	height: 31px;
	border: solid 1px #fa9e1b;
	border-radius: 50%;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	margin-right: 9px;
}
.footer_social_item:last-child
{
	margin-right: 0px;
}
.footer_social_item a
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.footer_social_item a i
{
	display: block;
	position: relative;
	color: #FFFFFF;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 12px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social_item:hover
{
	background: #fa9e1b;
}
.footer_social_item:hover a i
{
	color: #31124b;
}

/*********************************
11.2 Footer - Blog
*********************************/

.footer_blog
{
	margin-top: 39px;
}
.footer_blog_item
{
	margin-bottom: 21px;
}
.footer_blog_item:last-child
{
	margin-bottom: 0px;
}
.footer_blog_image
{
	width: 60px;
	height: 60px;
	float: left;
}
.footer_blog_image img
{
	width: 100%;
}
.footer_blog_content
{
	padding-left: 81px;
}
.footer_blog_title
{
	margin-top: -4px;
	padding-left: 1px;
}
.footer_blog_title a
{
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
}
.footer_blog_title a:hover
{
	color: #fa9e1b;
}
.footer_blog_date
{
	font-size: 12px;
	font-weight: 400;
	color: #fa9e1b;
	margin-top: 7px;
}

/*********************************
11.3 Footer - Tags
*********************************/

.footer_tags
{
	margin-top: 40px;
}
.tag_item
{
	height: 35px;
	float: left;
	margin-right: 9px;
	margin-bottom: 9px;
	border: solid 1px #fa9e1b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tag_item:hover
{
	background: #fa9e1b;
}
.tag_item a
{
	display: block;
	font-size: 12px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 33px;
	padding-left: 25px;
	padding-right: 25px;
}

/*********************************
11.4 Footer - Contact Info
*********************************/

.contact_info_list
{
	margin-top: 40px;
}
.contact_info_item
{
	margin-bottom: 22px;
}
.contact_info_icon
{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.contact_info_icon img
{
	display: block;
	width: 100%;
}
.contact_info_text,
.contact_info_text a
{
	color: #FFFFFF;
	line-height: 2.14;
	margin-top: -4px;
}
.contact_info_item:hover .contact_info_text,
.contact_info_item:hover .contact_info_text a
{
	color: #fa9e1b;
}

/*********************************
12. Copyright
*********************************/

.copyright
{
	background: #1f0733;
}
.copyright_content
{
	height: 52px;
}
.copyright_content div
{
	font-size: 12px;
	font-weight: 600;
	color: #685677;
}
.footer_nav_container
{
	height: 52px;
}
.footer_nav
{
	
}
.footer_nav_list
{
	font-size: 0px;
}
.footer_nav_item
{
	display: inline-block;
	margin-right: 40px;
}
.footer_nav_item a
{
	font-size: 12px;
	font-weight: 600;
	color: #685677;
	text-transform: uppercase;
	line-height: 2;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_nav_item a:hover
{
	color: #FFFFFF;
}